out/
cropped/
krieg-eterna-unity/krieg-eterna-unity/Assets/Resources/Images/*.png
krieg-eterna-unity/krieg-eterna-unity/Logs/
base-images/
assets/GifRenders/
 krieg-eterna-unity/krieg-eterna-unity/Assets/InitTestScene*
assets/Earth