krieg-eterna-cards/out/*
krieg-eterna-cards/cropped/*
krieg-eterna-unity/krieg-eterna-unity/Assets/Resources/Images/*.png
krieg-eterna-unity/krieg-eterna-unity/Logs/
base-images/
assets/GifRenders/
 krieg-eterna-unity/krieg-eterna-unity/Assets/InitTestScene*
assets/Earth
krieg-eterna-unity/krieg-eterna-unity/*.csproj
krieg-eterna-unity/krieg-eterna-unity/Logs/shadercompiler-UnityShaderCompiler.exe0.log
krieg-eterna-unity/krieg-eterna-unity/Analytics.csproj
krieg-eterna-unity/krieg-eterna-unity/Assembly-CSharp-Editor.csproj
krieg-eterna-unity/krieg-eterna-unity/Assembly-CSharp.csproj
krieg-eterna-unity/krieg-eterna-unity/PlayServicesResolver.Installer.Editor.csproj
krieg-eterna-unity/krieg-eterna-unity/PlayServicesResolver.Utils.Editor.csproj
krieg-eterna-unity/krieg-eterna-unity/PlayTests.csproj
krieg-eterna-unity/krieg-eterna-unity/Purchasing.Common.csproj
krieg-eterna-unity/krieg-eterna-unity/Scripts.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Analytics.DataPrivacy.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Burst.CodeGen.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Burst.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Burst.Editor.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.CollabProxy.Editor.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.InputSystem.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.InputSystem.ForUI.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.InputSystem.TestFramework.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Mathematics.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Mathematics.Editor.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Mediation.Adapters.Editor.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Mediation.Build.Editor.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Mediation.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Mediation.Settings.Editor.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.PlasticSCM.Editor.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Rider.Editor.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Searcher.Editor.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Services.Core.Analytics.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Services.Core.Configuration.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Services.Core.Configuration.Editor.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Services.Core.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Services.Core.Device.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Services.Core.Editor.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Services.Core.Environments.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Services.Core.Environments.Internal.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Services.Core.Internal.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Services.Core.Networking.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Services.Core.Registration.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Services.Core.Scheduler.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Services.Core.Telemetry.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Services.Core.Threading.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Settings.Editor.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.TextMeshPro.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.TextMeshPro.Editor.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Timeline.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.Timeline.Editor.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.VisualStudio.Editor.csproj
krieg-eterna-unity/krieg-eterna-unity/Unity.VSCode.Editor.csproj
krieg-eterna-unity/krieg-eterna-unity/UnityEditor.Purchasing.csproj
krieg-eterna-unity/krieg-eterna-unity/UnityEditor.SpatialTracking.csproj
krieg-eterna-unity/krieg-eterna-unity/UnityEditor.TestRunner.csproj
krieg-eterna-unity/krieg-eterna-unity/UnityEditor.XR.LegacyInputHelpers.csproj
krieg-eterna-unity/krieg-eterna-unity/UnityEngine.Purchasing.AppleCore.csproj
krieg-eterna-unity/krieg-eterna-unity/UnityEngine.Purchasing.AppleMacosStub.csproj
krieg-eterna-unity/krieg-eterna-unity/UnityEngine.Purchasing.AppleStub.csproj
krieg-eterna-unity/krieg-eterna-unity/UnityEngine.Purchasing.Codeless.csproj
krieg-eterna-unity/krieg-eterna-unity/UnityEngine.Purchasing.csproj
krieg-eterna-unity/krieg-eterna-unity/UnityEngine.Purchasing.SecurityCore.csproj
krieg-eterna-unity/krieg-eterna-unity/UnityEngine.Purchasing.SecurityStub.csproj
krieg-eterna-unity/krieg-eterna-unity/UnityEngine.Purchasing.Stores.csproj
krieg-eterna-unity/krieg-eterna-unity/UnityEngine.Purchasing.WinRTCore.csproj
krieg-eterna-unity/krieg-eterna-unity/UnityEngine.Purchasing.WinRTStub.csproj
krieg-eterna-unity/krieg-eterna-unity/UnityEngine.SpatialTracking.csproj
krieg-eterna-unity/krieg-eterna-unity/UnityEngine.TestRunner.csproj
krieg-eterna-unity/krieg-eterna-unity/UnityEngine.XR.LegacyInputHelpers.csproj
krieg-eterna-unity/krieg-eterna-unity/Logs/shadercompiler-UnityShaderCompiler.exe0.log
cropped/*
krieg-eterna-unity/krieg-eterna-unity/UserSettings/Layouts/*
