If {{partial "carddeadlink.html"  . }} is played early in the game, you will see all of your opponents power cards (but they may continue to
draw new ones throughout the game). This will allow you to craft your general strategy early on. If {{partial "carddeadlink.html"  . }} is
played late in the game (say in the last round), you can learn the exact power cards your opponent has left and make a
precise plan to counter them to win the game. Remember that you can always ask the number and types of cards in your
opponent’s hand, so be sure to use this information to plan when to play {{partial "carddeadlink.html"  . }}.