{{partial "carddeadlink.html" (dict "name" .Page.Title)}} is useful in two main scenarios: (1) if you still have a king, but no units left, you can convert your
somewhat useless king into units, or (2) you can bluff running out of units, but then obtain many new ones seemingly
from nowhere. Depending on the scenario, you may want to take advantage of your King’s unique power, or simply take the
extra unit by playing {{partial "carddeadlink.html" (dict "name" .Page.Title)}} with your King still in hand.