{{partial "carddeadlink.html" (dict "name" .Page.Title)}} is primarily used to play another power card twice. For a slightly more complex example, you could play
a spy, then use {{partial "carddeadlink.html" (dict "name" .Page.Title)}} to recover it from your opponent’s side of the field. Although {{partial "carddeadlink.html" (dict "name" .Page.Title)}} can be
used on Kings, its wording is careful to prevent carrying a King over to the next round (because this would effectively
give a player two Kings).