{{partial "carddeadlink.html" (dict "name" .Page.Title)}} is essentially a loan; make your opponent more powerful now, for the promise of becoming more powerful
yourself in the next round. The key to using it effectively is to reduce the cost of this loan by either (1) playing it
when your opponent is extremely weak, and so you can win the current round despite {{partial "carddeadlink.html" (dict "name" .Page.Title)}}, or (2) you are going
to throw (lose) the current round anyway. Regardless of which strategy you take, you’ll want to play this card late in
the round so that your opponent can’t capitalize on this unexpected gift.