{{partial "carddeadlink.html"  . }} has the advantage that you choose the row, but the
disadvantage that your opponent can also capitalize on this information. For this reason, it’s best to play this card in
a row that your opponent hasn’t heavily played in so far (in the hope that they mostly have these units left for the
next round). Alternatively, trick your opponent by combining with a card like {{partial "cardlink.html" (dict "name"
"Gale")}} which can move the weather: (1) declare a row to affect next round, then (2) move the weather to a different
row late in the next round. Another useful strategy is to play {{partial "carddeadlink.html"  . }}
in a row that your opponent is trying to double next round (e.g. with {{partial "cardlink.html" (dict "name"
"Eclipse")}}), or a row in which they’ve set aside cards for next round. Remember, you must declare the weather’s row
when the card is played.