{{partial "carddeadlink.html"  . }} is a powerful tool to rapidly increase your total strength. It
is likely that the discarded cards have less than five strength each, making {{partial "carddeadlink.html" (dict "name"
.Params.title)}} a savvy investment. However, concentrating so much strength into a single unit is vulnerable to counters
like {{partial "cardlink.html" (dict "name" "Death")}} or swapping units. It’s prudent to play {{partial
"carddeadlink.html" (dict "name" .Params.title)}} after your opponent has already passed, or protect the unit with e.g.
{{partial "cardlink.html" (dict "name" "Fortress")}}.