Spies are a powerful way to stall and obtain card draw, effectively giving you more turns than your opponent; however,
your opponent will pick up the spy at the end of the round to use against you. To minimize your opponent’s opportunity
for card draw, try to use other power cards to pick up the spy directly from the playing field, send the spy to the
graveyard, swap the spy back to your side of the field (so it returns to your hand at the end of the round), or play
your spy in the final round of the game.