{{partial "carddeadlink.html"  . }} is a powerful card, but can be tricky to use correctly. The
basic idea is to punish your opponent for either (1) not playing enough units in the early parts of the round, or (2) if
they begin stalling, bluffing, or setting up a mulit-card combo. For example, say you have a few more units on the field
than your opponent. It may be impossible for your opponent to overcome their total strength deficit in the single turn
after {{partial "carddeadlink.html"  . }} is played.
</br>
</br>
An extreme case of this strategy is when you have {{partial "carddeadlink.html"  . }} and
{{partial "cardlink.html" (dict "name" "Mortar")}} in hand, and go first for the round. If you lead with {{partial
"carddeadlink.html" (dict "name" .Params.title)}}, there isn’t a card in the game which can beat {{partial "cardlink.html"
(dict "name" "Mortar")}}’s base strength, meaning you are guaranteed to win the round.