Weather cards which double the strength of a row next round have the advantage that you choose the row, but the
disadvantage that your opponent can also capitalize on this information. For this reason, it’s best to play these cards
in a row that your opponent has already heavily played in so far (in the hope that they don’t have many of these units
left for the next round). Alternatively, trick your opponent by combining with a card like {{partial "cardlink.html"
(dict "name" "Gale")}} which can move the weather: (1) declare a row to double next round, then (2) move the weather to
a different row late in the next round. Remember, you must declare the weather’s row when the card is played.