Weather cards, like {{partial "carddeadlink.html" .}}, which halve the strength of a row should be used to punish your opponent for playing heavily in a single
row, counter a King’s doubling effect, or make a row unattractive to your opponent. It’s best either to (1) play these
cards late in the round to take your opponent by surprise, or (2) play these cards early in the round to set up a bluff
(e.g. in a combo with {{partial "cardlink.html" (dict "name" "Gale")}}). Remember, you must declare the weather’s row
when the card is played.