<section class="amazon-banner">
  <div class="css-0ErxL css-bk8F4 css-W0Ao0"
    style="--header-font-color:#243146; --header-text-shadow:0px 0px 0px rgba(0,0,0,0); --theme-accent-color:#000000;">
    <div class="css-wZoSr">
      <div class="css-Lb4w4">
        <div class="css-TXZf4">
          <a href="https://www.amazon.com/dp/B0CJHWGZYF?maas=maas_adg_3D8873ABA7D50C8B8D9E95ECC82A19D9_afap_abs&ref_=aa_maas&tag=maas" target="_blank"
              rel="noopener" class="button-highlight css-2dGqW css-aqU36">
            <span
              class="nav-links css-KalfM css-lmKD site-button">
              <picture aria-hidden="true"><img src="/images/icon-amazon.svg" alt=""
                      loading="lazy" class="css-nrWL3"></picture>
              <picture aria-hidden="true" style="display: none;"><img
                      src="/images/icon-amazon.svg" alt="" loading="lazy" class="css-nrWL3"></picture>
              <div class="css-qEffi">
                <span class="css-zML4P">
                  AMAZON
                </span>
              </div>
            </span> 
          </a>
        </div>
      </div>
    </div>
  </div>
</section>