{{ if or .NextInSection .PrevInSection -}}
<div id="nextprev" class="nextprev">
    {{- with .NextInSection -}}
    <a href="{{ .RelPermalink}}">
        <div class="nextart">Previous:<br>
            {{partial "cardflip" (dict "Params" (dict "big" "true" "front" .Params.code "back" .Params.back
            "disallowFlip" "true"))}}</div>
    </a>
    {{ end -}}
    {{- with .PrevInSection }}
    <a href="{{ .RelPermalink}}">
        <div class="prevart">Next:<br>{{partial "cardflip" (dict "Params" (dict "big" "true" "front" .Params.code "back" .Params.back
            "disallowFlip" "true"))}}</div>
    </a>
    {{ end -}}
</div>
{{ end -}}