<!-- NOTE:
    - set .type to add additional styling for the main title (but not for the shadow)
    - set .shadow to add additional styling for the default "titleshadow"
-->

{{ if eq .h "h2" }}
    <div class="{{.class}}">
        <h2 class="{{.shadow}}" id="titleshadow" aria-hidden="true">{{.title}}</h2>
        <h2 class="{{.type}}" {{if not (eq .id nil)}}id="{{.id}}"{{end}}>{{.title}}</h2>
    </div>
{{ else }}
    <div class="{{.class}}">
        <h3 class="{{.shadow}}" id="titleshadow" aria-hidden="true">{{.title}}</h3>
        <h3 class="{{.type}}" {{if not (eq .id nil)}}id="{{.id}}"{{end}}>{{.title}}</h3>
    </div>
{{ end }}