Temp
Library
UnityPackageManager
obj
.vs
Assets/InitTestScene*
Logs
bin
*.csproj
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Analytics.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
PlayServicesResolver.Installer.Editor.csproj
PlayServicesResolver.Utils.Editor.csproj
PlayTests.csproj
Purchasing.Common.csproj
Scripts.csproj
Unity.Analytics.DataPrivacy.csproj
Unity.Burst.CodeGen.csproj
Unity.Burst.csproj
Unity.Burst.Editor.csproj
Unity.CollabProxy.Editor.csproj
Unity.InputSystem.csproj
Unity.InputSystem.ForUI.csproj
Unity.InputSystem.TestFramework.csproj
Unity.Mathematics.csproj
Unity.Mathematics.Editor.csproj
Unity.Mediation.Adapters.Editor.csproj
Unity.Mediation.Build.Editor.csproj
Unity.Mediation.csproj
Unity.Mediation.Settings.Editor.csproj
Unity.PlasticSCM.Editor.csproj
Unity.Rider.Editor.csproj
Unity.Searcher.Editor.csproj
Unity.Services.Core.Analytics.csproj
Unity.Services.Core.Configuration.csproj
Unity.Services.Core.Configuration.Editor.csproj
Unity.Services.Core.csproj
Unity.Services.Core.Device.csproj
Unity.Services.Core.Editor.csproj
Unity.Services.Core.Environments.csproj
Unity.Services.Core.Environments.Internal.csproj
Unity.Services.Core.Internal.csproj
Unity.Services.Core.Networking.csproj
Unity.Services.Core.Registration.csproj
Unity.Services.Core.Scheduler.csproj
Unity.Services.Core.Telemetry.csproj
Unity.Services.Core.Threading.csproj
Unity.Settings.Editor.csproj
Unity.TextMeshPro.csproj
Unity.TextMeshPro.Editor.csproj
Unity.Timeline.csproj
Unity.Timeline.Editor.csproj
Unity.VisualStudio.Editor.csproj
Unity.VSCode.Editor.csproj
UnityEditor.Purchasing.csproj
UnityEditor.SpatialTracking.csproj
UnityEditor.TestRunner.csproj
UnityEditor.XR.LegacyInputHelpers.csproj
UnityEngine.Purchasing.AppleCore.csproj
UnityEngine.Purchasing.AppleMacosStub.csproj
UnityEngine.Purchasing.AppleStub.csproj
UnityEngine.Purchasing.Codeless.csproj
UnityEngine.Purchasing.csproj
UnityEngine.Purchasing.SecurityCore.csproj
UnityEngine.Purchasing.SecurityStub.csproj
UnityEngine.Purchasing.Stores.csproj
UnityEngine.Purchasing.WinRTCore.csproj
UnityEngine.Purchasing.WinRTStub.csproj
UnityEngine.SpatialTracking.csproj
UnityEngine.TestRunner.csproj
UnityEngine.XR.LegacyInputHelpers.csproj
Logs/shadercompiler-UnityShaderCompiler.exe0.log
UserSettings/Layouts/*
