<section class="gradient even-gradient">
    <div class="main-section">
    <div class="sub-section">

        {{$title := (index .Params "title")}}

        {{$data := 0}}
        {{ range $i, $r := getCSV "\t" "data/CardSheet.tsv" }}
        {{ $c := (index . 0) }}
        {{ if eq $c $title }}
        {{$data = .}}
        {{end}}
        {{ end }}

        {{$type := (index $data 4)}}
        {{$typedesc := $type}}
        {{$cardback := "Flag"}}

        {{ if eq $type "Ranged" }}
        {{$typedesc = "Ranged Unit"}}
        {{end}}

        {{ if eq $type "Melee" }}
        {{$typedesc = "Melee Unit"}}
        {{end}}

        {{ if eq $type "Siege" }}
        {{$typedesc = "Siege Unit"}}
        {{end}}

        {{ if eq $type "Power" }}
        {{$typedesc = "Hex Power"}}
        {{$cardback = "FlagPower"}}
        {{end}}

        {{ if eq $type "Decoy" }}
        {{$typedesc = "Jester Power"}}
        {{$cardback = "FlagPower"}}
        {{end}}

        {{ if eq $type "Spy" }}
        {{$typedesc = "Spy Power"}}
        {{$cardback = "FlagPower"}}
        {{end}}

        {{ if eq $type "Weather" }}
        {{$typedesc = "Weather Power"}}
        {{$cardback = "FlagPower"}}
        {{end}}

        {{ if eq $type "King" }}
        {{$cardback = "FlagKing"}}
        {{end}}

        <div class="card-detail">
            {{partial "cardflip" (dict "Params" (dict "front" $title "back" $cardback "big" "true" "disallowScale" "mobile"))}}
        </div>

        <div class="card-detail-box">
            <h3 class="card-detail-title {{lower (index $data 4)}}">{{(index $data 1)}}</h3>

            <!-- taglist -->
            {{ partial "taglist.html" .Page }}
            <hr>

            <!-- strength -->
            {{$strength := (index $data 5)}}
            {{if gt (len $strength) 0}}
            <p class="card-detail-paragraph">
                <b>Strength:</b> {{$strength}}
            </p>
            {{end}}

            <!-- type -->
            <p class="card-detail-paragraph">
                <b>Type:</b> {{$typedesc}}
            </p>

            <!-- effect -->
            {{$effect := (index $data 2)}}
            {{$effect = (replace $effect "^" "")}}
            {{$effect = (replace $effect "\\`" "\"")}}
            {{$effect = (replace $effect "\\r" " ")}}
            {{if gt (len $effect) 1}}
            <p class="card-detail-paragraph">
                <b>Effect Text:</b> {{$effect}}
            </p>
            {{end}}

            <!-- flavor -->
            {{$flavor := (index $data 3)}}
            {{$flavor = (replace $flavor "^" "")}}
            {{$flavor = (replace $flavor "\\`" "\"")}}
            {{$flavor = (replace $flavor "\\r" " ")}}
            <p class="card-detail-paragraph">
                <b>Flavor Text:</b> {{$flavor}}
            </p>

            <!-- artwork -->
            {{if (isset .Params "artwork")}}
            <p class="card-detail-paragraph">
                <b>Artwork:</b> {{.Params.artwork}}
            </p>
            {{end}}
        </div>

        <!-- strategy -->
        {{$stratDesc := (index $data 6)}}
        {{$stratDesc := (lower $stratDesc)}}
        {{if gt (len $stratDesc) 1}}
        <p class="rule-paragraph">
            <b>Strategy:</b> {{partial (printf "strategy-descriptions/%s.html" $stratDesc) .}}
        </p>
        {{end}}

        <!-- about -->
        {{ with .Inner }}
            <p class="rule-paragraph" style="margin-bottom: 0">
                <b>About the card:</b>
            </p>
            {{ . }}
        {{ else }}
            <!-- nothing -->
        {{ end }}

        </br>
        {{ partial "nextprev.html" .Page }}
    </div>
    </div>
</section>