<div class="main-section">
<div class="sub-section subscribe-form-box">
	<div class="title-wrapper">
		<h4>Subscribe to Our Newsletter</h4>
	</div>
	<script type="text/javascript">
		window.addEventListener("load", function () {
			const form = document.getElementById('myform');
			form.addEventListener("submit", function (e) {
				e.preventDefault();
				const data = new FormData(form);
				const action = e.target.action;
				form.reset();
				fetch(action, {
					method: 'POST',
					body: data,
				})
					.then(() => {
						alert("You've subscribed — check your inbox shortly for a message!");
					})
			});
		});
	</script>
	<div class="subscribe-form__heading">Join our mailing list for information about future releases!</div>
	<form method="POST"
		action="https://script.google.com/macros/s/AKfycbzgiQuUJLFDArvmmRCag_RHvCqlRJ8uuBrashzeFPiX-dWlHZIjjRPwfRspMQY2HRLieg/exec"
		id="myform" class="subscribe-form__inputs">
		<div class="input-wrapper">
			<label class="subscribe-form__label" for="footer_mailinglist_email">Email address</label>
			<input type="email" required class="subscribe-form__email required" value="" id="footer_mailinglist_email" name="Email">
		</div>
		<button class="btn btn--secondary subscribe-form__submit" type="submit">
			{{ partial "icon-mail.html" . }}&nbspSign up
		</button>
	</form>
</div>
</div>