<section class="gradient even-gradient">
    <div class="main-section" id="product">
        <div class="sub-section">
            <div class="title-wrapper">
                {{ partial "outlined-title" (dict "title" "Products" "h" "h2" "class" "main-title")}}
            </div>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper-rules card-scroll-box">

                <!-- Krieg Eterna (base game) -->
                {{ partial "product" (dict "Params" (dict "title" "Krieg Eterna" "price" "$29.99" "image" "/images/DeluxeDeckRender.png" "description" "A fast-paced strategic card game set during the Thirty Years' War. Victory on the battlefield will require deception, skill, and a little luck!"))}}

                <!-- Krieg Eterna (lands expansion) -->
                {{ partial "product" (dict "Params" (dict "title" "Krieg Eterna: Battlefields" "price" "Early 2025" "image" "/images/product-lands.webp" "description" "This mini-expansion adds a new deck containing over 40 battlefield cards! At each location, you'll experience a unique twist for the round." "trackingCode" "none"))}}

                <!-- Krieg Eterna Valtyr -->
                {{ partial "product" (dict "Params" (dict "title" "Krieg Eterna: Valytr" "price" "Late 2025" "image" "/images/product-valtyr.webp" "description" "Set during the Viking Age, this expansion adds over 100 new cards and dozens of mechanics. Play stand-alone, or combine with the base game." "trackingCode" "none"))}}

            </div>
        </div>
    </div>
</section>