<section class="no-gradient">
	<div class="main-section" id="review" style="padding-top: 0">
        <div class="swiper swiper-backface-hidden">
            <div class="swiper-wrapper card-scroll-box">
				
                <!-- Review box with buttons -->
                <div class="sub-section review-box">
                    <div class="review">
                        <div>
                            <p class="review-title" style="margin-top: 0em; font-weight: 900;">
                                REVIEWS & RATINGS
                            </p>
                        </div>

                        <!-- BGG -->
                        {{$trackingCode := "https://boardgamegeek.com/boardgame/401020/krieg-eterna"}}
                        {{ partial "review-button" (dict "Params" (dict "rating_numerator" "9.1" "rating_denominator" "10" "n_ratings" "10" "icon" "/images/icon-bgg.svg" "trackingCode" $trackingCode))}}
                        
                        <!-- Amazon -->
                        {{ partial "review-button" (dict "Params" (dict "rating_numerator" "4.6" "rating_denominator" "5" "n_ratings" "35" "icon" "/images/icon-amazon.svg"))}}

                    </div>
                </div>

                <!-- Player reviews -->
                {{ partial "review" (dict "Params" (dict "name" "Owen" "title" "Portable, Fast-paced, Dynamic" "text" "So many ways to play this game! After hours of gameplay I'm still coming up with new strategies and ways to win, definitely recommend if you want a unique and exciting card game."))}}
                {{ partial "review" (dict "Params" (dict "name" "Rusty" "title" "Best card game of the year!" "text" "You'll start playing and two hours later you're on game ten. It's fun, ever-changing, with lots of strategy for when you should play a certain combo."))}}
                {{ partial "review" (dict "Params" (dict "name" "Andrew" "title" "Easy to learn, fun to play!" "text" "Fun quick games with lots of variety between sessions. <br> Would recommend!"))}}
                {{ partial "review" (dict "Params" (dict "name" "Luke" "title" "Great fun with friends!" "text" "Had a blast playing this with friends. Highly recommend!"))}}

            </div>
        </div>
	</div>
</section>