<section class="gradient even-gradient">
	<div class="main-section" id="product">
    <div class="css-JEZym" style="--intersection-offset:0;">
    </div>
    <div class="">
        <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
            <div class="swiper-wrapper card-scroll-box">
				
                {{ partial "review" (dict "Params" (dict "name" "Owen" "text" "So many ways to play this game! After hours of gameplay I’m still coming up with new strategies and ways to win, definitely recommend if you want a unique and exciting card game."))}}
				{{ partial "review" (dict "Params" (dict "name" "Andrew" "text" "Fun quick games with lots of variety between sessions. <br> Would recommend!"))}}
{{ partial "review" (dict "Params" (dict "name" "Rusty" "text" "This game you’ll start playing and two hours later you're on game 10. It’s fun, ever changing, with lots of strategy to when should you play a certain combo."))}}
{{ partial "review" (dict "Params" (dict "name" "Luke" "text" "Had a blast playing this with friends. Highly recommend!"))}}

                    </div>
                </div>
            </div>
	</div>
</section>