<section class="no-gradient">
    <div class="main-section" style="padding-top: 0">
        <div class="top-flex">
            <picture>
            <source srcset="/images/battle-1600x1080-100.webp" media="(min-width: 1024px)">
            <source srcset="/images/battle-1023x600-100.webp" media="(min-width: 768px)">
            <source srcset="/images/battle-767x600-100.webp" media="(min-width: 575px)">
            <source srcset="/images/battle-575x700-100.webp"> 
            <img src="/images/battle-1600x1080-100.webp" class="top-img">
            </picture>
            <div class="top-slanted">
                <div class="top-info-box">
                    <picture>
                        <img src="/images/logo-fancy-gold.svg" class="nav-logo">
                    </picture>
                    <div class="title-wrapper">
                        <h4 class="top-title">Strategy Card Game</h4>
                    </div>
                    <div class="top-paragraph">
                        <p>Kings and Armies assemble in the fields of Europe. Whether it be for God, glory or gold, the Continent marches to war!</p>
                    </div>
                    <a href="/compendium">
                        <button class="btn btn--primary">
                            Explore the cards
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>